server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/Microservice-hotel
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  config:
    import: optional:configserver:http://localhost:8085

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus

#eureka: getting from Config Server
#  instance:
#    prefer-ip-address: true
#  client:
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka